
#signin{
    display:none;
    position:fixed;
    width: 100%;
    height:100%;
}
#box1{  

        margin:0 auto;
}
#signup{
    display:none;
    position:absolute;
    width: 100%;
    height:100%;
}
#mapsection{
    margin: auto;
    width: 50%;
    padding: 10px;
}
#mapsection h2{
    margin-left: 25%;
    font-size: xx-large;
    font-weight: bold;
}
#map{

        margin: auto;
        width: 100%;
        padding: 10px;
}
.adoptcard img{
    display:absolute;
 
        width: 350px; 
        float: left; 
        margin-right: 10px; 
 
    
}
.adoptcardtext{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}