<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dog Endorsement Website</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header class="container-fluid">
    <h1 class="Title">The Dog Endorsement Website</h1>
  </header>
  <nav class="container-fluid w-100">
    <a href="/">Home</a>
    {{#if loggedIn}}
    <a href="/saved">Saved Dogs</a>
    <button id="logout" class="btn-no-style ml-auto text-light p-3">Logout</button>
    {{else}}
    <a href="/login">Login</a>
    <a href="/signup">Sign Up</a>
    {{/if}}
  </nav>
  <main>
    <aside>
      <h2 class="AsideHeader">Let Us Help You Find A Forever Friend!</h2>
    </aside>
    <div class="Content">
      {{{body}}}
    </div>
  </main>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>