<div id="mapsection">
    <h2>
        Find your Friend here :)
    </h2>
    <h3>
        Use your zipcode, breed preference is optional, to find local adoptable dogs.
    </h3>
  <form class="form prefrences-form">
    <label for="Zipcode">Zipcode:</label><br>
    <input type="text" id="zipcode" name="zipcode" required><br>
    <label for="breed">Dog Breed:</label><br>
    <select name="breed" id="breeds">
      <option value="">Pick A Breed</option>
      {{#each breeds as |breed|}}
        <option value="{{this}}">{{this}}</div>
      {{/each}}
    </select>
    <input type="submit">
  </form>
</div>

<script src="/js/submitButton.js"></script>
