<li class="bg-white shadow overflow-hidden rounded-md px-6 py-4">
    <div>
        <div class="adoptcard">
            <img src="/assets/images/adorable-white-pomeranian-puppy-spitz-921029690-5c8be25d46e0fb000172effe.jpg">
        </div>
        <div class="adoptcardtext">
            <h1 class="name">Mike</h1>
            <h2 class="gender">Male</h2>
            <h2 class="breed">husky</h2>
            <h2 class="age group">Adult</h2>
            <h2 class="distance">1 mile away</h2>
        </div>
</li>