<div id="mapsection">
    <h2>
        Find your Friend here :)
    </h2>
    <h3>
        Please insert your criteria here and your results will be brought on on the next page
    </h3>
    <div ID="map" class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <img src="/images/download.jpg">
    </div>
</div>