:root {
  --primary: #72563f;
  --secondary: #938886;
  --tertiary: #876e5e;
  --quatrinary: #6c6967;
  --light: #e3e4e3;
  --dark: #2c1f18;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--quatrinary);
}

a {
  color: var(--dark);
  text-decoration: none;
}

header {
  padding: 40px;
  text-align: center;
  background: var(--primary);
  color: var(--light);
}

.Title{
  font-size: 2rem;
}

main {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-grow: 1;
}

aside {
  display: flex;
  flex: 0;
  background-color: var(--tertiary);
  padding: 80px;
  color: var(--light);
  width: 25vw;
  height: auto;
}

.AsideHeader{
  font-size: 1.5rem;
  width: 10vw;
  text-align: center;
}

.Content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 77.5vw;
  padding-right: 2vw;
  padding-left: 2vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

nav {
  display: flex;
  background-color: var(--secondary);
}

nav a {
  color: var(--light);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  color: var(--secondary);
  background-color: var(--dark);
}

.gallery {
  flex: 4;
  background-color: #fff;
  padding: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  transition: color 0.1s;
  margin-left: 16px;
}

img {
  max-width: 200px;
  max-height: 200px;
}

/* CARDS */
.card {
  margin: 20px;
  flex: 0 1 300px;
  border: 7px double var(--dark);
  border-radius: 10px;
  background-color: var(--light);
  color: var(--dark);
}

.login-card {
  margin: 0 0 20px 0;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 5px;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  border-style: double;
  border-width: thick;
  background-color: #577a7c;
  color: var(--light);
}

.card header {
  color: var(--light);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  background-color: var(--tertiary);
  padding: 0.625rem;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.card-body {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
}

.gallery-name {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 2px 2px 5px var(--secondary);
  border: 10px groove var(--light);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 100px;
  padding-left: 100px;
}

.adoptcard img {
  display: absolute;

  width: 350px;
  float: left;
  margin-right: 10px;
}
.adoptcardtext {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.listscroll {
  display: flex;
  flex-direction: column;
  padding: 4px;
  height: 70vh;
  background-color: rgb(202, 191, 191);
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
}

/* LAYOUT */
/*.container {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  align-items: center;
}*/

.dropbtn {
  background-color: #3498db;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin: auto;
  width: 50%;
  padding: 10px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  max-height: 250px;
  overflow: scroll;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

#breeds{
  width: 50vw;
}

@media screen and (max-width: 600px) {
  main{
    justify-content: center;
  }
  .Title{
    font-size: 1.3rem;
  }
  aside{
    display: none;
  }
  .Content{
    width: 90vw;
    align-items: center;
  }
  .Content h3{
    width: 90vw;
    font-size: 1.5rem;
  }
  #breeds{
    width: 60vw;
  }
}
